body {
    font-family: "Muli-Regular";
    margin: 0;
    padding: 0;
    
 }
     
     
 #header {
     background-color: #5D5B6A;
     width:100%;
 }

 #header::after {
     content: "";
     clear: both;
     display: table;
 }
     
 .head-view {
     padding-top: 10px;
     line-height:50px;
 }
     
 .head-view label {
     color: white;
     font-size:20px;
     padding: 5px;
     cursor: pointer;
 }

.pages a{
    padding: 10px;
}
 .head-view  li {
     display: inline;
     color: black;
 }
     
 .head-view  li a {
     text-decoration:none;
     color: #000000;
 }
     
 .head-view label:hover {
     color: wheat
 }
     

 .head-view b {
     color: white;
     text-shadow:3px 3px 3px #000000;
     font-size:50px;
     font-weight: normal;
 }

.btn-signout {
    color:white;
    font-size:19px;
    width:100px;
    padding: 5px;
    border-radius: 10px;
    background-color: #5D5B6A;
    border: none;
}

.btn-signout:hover {
    color:wheat
}
.pages {
    float: right
}


.profile-container {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 20px;
}
.student-profile {
    padding: 20px;
    background-color: #5D5B6A;
    border-radius: 5px;
    text-align: center;
    
}
.student-profile-attribute img {
    border-radius: 50%;
    border: 5px solid #666;
    text-align: center;
    height: 300px;
    width: 280px;
    margin-bottom:20px;
   
    
}

.student-profile-attribute {
   margin-top: 50px;
   
}
.student-profile .student-profile-attribute p {
    text-align: center;
    line-height: 5px;
    color: black
    
}
.student-profile .student-profile-attribute .name {
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.profile-details {
    padding: 20px;
    background-color: #5D5B6A;
    margin-left: 10px;
    border-radius: 5px;
}

.profile-details button {
    background-color: #666;
    padding: 13px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: white;

}


.profile-details button:hover {
    background-color: green;
}

.profile-details b {
   color: black;
   font-size: 15px;
   margin-right: 5px;
}

.profile-details p{
   border-bottom:1px solid white;
   padding: 10px;
}

footer {
   background-color: #5D5B6A;
   padding: 10px;
   text-align: center;
   color:  white;
   font-size: 18px;
}


 
 @media only screen and (max-width: 1150px) {
    .head-view .title{
        display: block;
        font-size: 40px;
        text-align: center;
    }
    .head-view b {
        font-size: 50px;
    }

    .head-view label {
        display: inline;
        text-align: center;
        line-height: 10px;

    }
    .btn-signout {
        display: inline;
        text-align: center;
        margin: 0 auto;
    }
   
  

    .pages {
        float: none;
        text-align: center;
    }
    .profile-container {
        display: block;
    }
    .profile-details {
        margin-top: 5px;
        margin-left: 0;
        
    }

   
 }

 

 
     
     